<div class="container">
  <h2>Email reader</h2>         
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>Object: </td>
      </tr> 
      <tr>
      <td>body : </td>
    </tr> 

    </tbody>
  </table>
</div>
